<?php

// [
//     'driverClass' => \Doctrine\DBAL\Driver\Sqlsrv\Driver::class,
//     'params' => [
//         'dbname' => '',
//         'user' => '',
//         'password' => '',
//         'host' => ' localhost\PERPSQL',
//         'port' => null,
//     ],
// ]

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass' => \Doctrine\DBAL\Driver\PDOMySql\Driver::class,
                'params' => [
                    'host'     => 'localhost',
                    'port'     => '',
                    'user'     => '',
                    'password' => '',
                    'dbname'   => '',
                ]
            ],
            'orm_sqlsrv' => [
                'driverClass' => \Doctrine\DBAL\Driver\PDOMySql\Driver::class,
                'params' => [
                    'host'     => 'localhost',
                    'port'     => '',
                    'user'     => '',
                    'password' => '',
                    'dbname'   => '',
                ]
            ],
        ],
        'entitymanager' => [
            'orm_default' => [
                'connection'    => 'orm_default',
                'configuration' => 'orm_default'
            ],
            'orm_sqlsrv' => [
                'connection'    => 'orm_sqlsrv',
                'configuration' => 'orm_sqlsrv'
            ]
        ],
       'configuration' => [
            'orm_sqlsrv' => [
                'metadata_cache'    => 'array',
                'query_cache'       => 'array',
                'result_cache'      => 'array',
                'driver'            => 'orm_sqlsrv',
                'generate_proxies'  => true,
                'proxy_dir'         => 'data/DoctrineORMModule/Proxy',
                'proxy_namespace'   => 'DoctrineORMModule\Proxy',
                'filters'           => [],
            ]
        ],
        'driver' => [
            'orm_default_driver' => [
                'class' => \Doctrine\ORM\Mapping\Driver\AnnotationDriver::class,
                'cache' => 'array',
                'paths' => [
                    __DIR__.'/../../module/Application/src/Entity'
                ],
            ],
            'orm_sqlsrv_driver' => [
                'class' => \Doctrine\ORM\Mapping\Driver\AnnotationDriver::class,
                'cache' => 'array',
                'paths' => [
                    __DIR__.'/../../module/Onboarding/src/Entity'
                ],
            ],
            'orm_default' => [
                'class' => \Doctrine\ORM\Mapping\Driver\DriverChain::class,
                'drivers' => [
                    'Application\Entity' => 'orm_default_driver'
                ]
            ],
            'orm_sqlsrv' => [
                'class' => \Doctrine\ORM\Mapping\Driver\DriverChain::class,
                'drivers' => [
                    'Onboarding\Entity' => 'orm_sqlsrv_driver'
                ]
            ],
        ]
    ],
];
