<?php

// [
//     'driverClass' => \Doctrine\DBAL\Driver\Sqlsrv\Driver::class,
//     'params' => [
//         'dbname' => '',
//         'user' => '',
//         'password' => '',
//         'host' => ' localhost\PERPSQL',
//         'port' => null,
//     ],
// ]

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass' => \Doctrine\DBAL\Driver\PDOMySql\Driver::class,
                'params' => [
                    'host'     => 'localhost',
                    'port'     => '',
                    'user'     => '',
                    'password' => '',
                    'dbname'   => '',
                ]
            ],
            'orm_sqlsrv' => [
                'driverClass' => \Doctrine\DBAL\Driver\PDOMySql\Driver::class,
                'params' => [
                    'host'     => 'localhost',
                    'port'     => '',
                    'user'     => '',
                    'password' => '',
                    'dbname'   => '',
                ]
            ],
        ],
    ],
];
